<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProfile name="!prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>
    
    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    </springProfile>
    
    <!-- Custom logger for request/response logging -->
    <logger name="com.miniapp.foodshare.security.RequestResponseLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    
    <!-- Root logger -->
    <root level="INFO">
        <springProfile name="!prod">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>
</configuration>
